services:
  backend:
    image: yashbhingarde/quick-commerce-backend
    container_name: quick-commerce-backend
    environment:
      - PORT=5000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - CLIENT_URL=${CLIENT_URL}
    networks:
      - app-network

  frontend:
    image: yashbhingarde/quick-commerce-frontend
    container_name: quick-commerce-frontend
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: quick-commerce-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

